* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    border: 3px solid gold;
    width: 800px;
    height: 800px;
}

.square {
    
    flex: 1;
}

.row {
    display: flex;
}

.active {
    background: green;
}

.show-lines {
    border: 0.5px solid black;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}

footer p {
    font-size: 12px;
}

.footer-img {
    padding: 15px;
    width: 50px;
}


